doctype
html
  head
    title
    link(rel="stylesheet" href="css/index.css")
  body
    .l-container
      include ./_partial/header
      main
        section
          h2 Socials
        section
          h2
            a(href="https://github.com/kzhrk-slide") Slides
          ul
            li
              a(href="https://kzhrk-slide.github.io/push-api/") Push API
            li
              a(href="https://kzhrk-slide.github.io/maintainable-css/") Maintainable CSS
            li
              a(href="https://kzhrk-slide.github.io/add-to-homescreen/") Add to home screen
            li
              a(href="https://kzhrk-slide.github.io/begin-electron/") Let's Begin Electron
            li
              a(href="https://kzhrk-slide.github.io/tateyoko/") たてよこWebアワードに応募してみた
            li
              a(href="https://kzhrk-slide.github.io/restful-api/") RESTful API
            li
              a(href="https://kzhrk-slide.github.io/begin-webpack-first") webpackの使い方からコンパイルまで（全2回）前編
            li
              a(href="https://kzhrk-slide.github.io/begin-webpack-last") webpackの使い方からコンパイルまで（全2回）後編
            li
              a(href="https://kzhrk-slide.github.io/whats-es6") ES6とは
      include ./_partial/footer
