doctype
html
	head
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700", rel="stylesheet")
		link(href="/css/style.css", rel="stylesheet")
		script(src="/js/main.js" async)
	body
		h1.headline-lv1 kzhrk
		section.block.block__specialities
			h2.headline-lv2 Specialities
			ul
				li HTML
				li CSS
				li JavaScript(React/Vue/express)
		section.block.block__links
			h2.headline-lv2 LINKS
			ul.links
				li
					a(href="https://github.com/kzhrk").icon-github-circled
						span GitHub
				li
					a(href="https://facebook.com/kzhrk").icon-facebook
						span facebook
				li
					a(href="https://twitter.com/kzhrk0430").icon-twitter
						span Twitter
		footer
			address &copy; kzhrk 2017